#linkContainer {
    border-style: solid;
    height: 60px;
    text-align: center;
    background-color: #156f55;

}
.links {
    text-decoration: none;
    margin: 30px;
    position: relative;
    top: 20px;
    font-size: 25px;
}

.links:hover {
    color: #7dbca9;
}

.Icon {
    height: 48px;
    width: 48px;
    margin: 5px;
}

.Icon:hover {
    opacity: .7;
}